<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification</title>
</head>
<body>
    <div>
        <h2>Welcome to BlaBlaBla Website</h2>
        <p>Hi {{name}}, click below button for proceed to Verification. </p>
        <a href={{link}} target ="_blank">
            <button style="background-colour: rgb(119, 138, 146); padding: 4px; colour: white">Email Verification</button>
        </a>
    </div>
</body>
</html>